.gallery {
    width: 33%;
    position: relative;
}

.gallery:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: rgba(0, 0, 0, 0.2);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@media (max-width: 767.98px) {
    .gallery {
        width: 100%;
    }
}

.gallery.img {
    display: block;
    height: 300px;
}

.gallery .icon {
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.gallery .icon span {
    color: #f86f2d;
}

.gallery:hover .icon {
    opacity: 1;
}

.gallery:hover:after {
    opacity: 0;
}

.image-popup {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

img {
    vertical-align: middle;
    border-style: none;
}

.gallery.img {
    display: block;
    height: 300px;
  }


  .ftco-animate {
    opacity: 0;
    visibility: hidden;
  }





@media print {

    *,
    *::before,
    *::after {
      text-shadow: none !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
    }
  
    a:not(.btn) {
      text-decoration: underline;
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #adb5bd;
      page-break-inside: avoid;
    }
  
    thead {
      display: table-header-group;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  
    @page {
      size: a3;
    }
  
    body {
      min-width: 992px !important;
    }
  
    .container {
      min-width: 992px !important;
    }
  
    .navbar {
      display: none;
    }
  
    .badge {
      border: 1px solid #000;
    }
  
    .table {
      border-collapse: collapse !important;
    }
  
    .table td,
    .table th {
      background-color: #fff !important;
    }
  
    .table-bordered th,
    .table-bordered td {
      border: 1px solid #dee2e6 !important;
    }
  }